* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

.mainpage {
    width: 100%;
    height: 100%;
    background: url("https://ik.imagekit.io/amazonbbb11/amazon-image/1348517_in_prime_2_pd_3000x1200_Eng._CB663273097_.jpg.png?updatedAt=1744058899409") no-repeat center;
    background-size: cover;
    background-color: #EAEDED;
 
    display: flex;

    padding-bottom: 40px;
  }
  
  
  .mainpage__container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding-bottom: 40px;
    position: relative;
    z-index: 0;
    padding-left: 5px;  
    padding-top: 400px;

  }
  
  