.product {
    width: 220px;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    background-color: #fff;
    transition: transform 0.2s;
  }
  
  .product:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .product__image {
    width: 100%;
    height: 220px;
    object-fit: contain;
  }
  
  .product__name {
    font-size: 16px!important;
    line-height: 24px!important;
    font-weight: 400 !important;
}
.product__rating {
    font-size: 14px;
    color: #007185;
}
.product__price {
    color: #B12704;
    font-size: 20px;
    font-weight: 600;
}
  